
/*setting the background of hero banners with image and id*/
.hero-banner {
  background-image: url('../images/herobg.webp'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  min-height: 70vh;             
  padding: 60px 0;               
}

.contact-banner{
  background-image: url('../images/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh; 
  padding: 60px 0;
}


.gallery-banner {
  background-image: url('../images/bggallery.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh; 
  padding: 60px 0;
}


.resume-banner {
  background-image: url('../images/bgresume2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh; 
  padding: 60px 0;
}


.blog-banner {
  background-image: url('../images/bgblog.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh; 
  padding: 60px 0;
}


/*the a light gray background on certain sections*/
.home-blog, .experience-section, .bitsy-bg{
  background-color: #f5f5f5;             
  padding: 60px 0;           
  margin:0;
}


/*setting font styles for experience section*/
.experience-item h4 {
  font-weight: 600;
}

.experience-item ul {
  padding-left: 20px;
}

.experience-item li {
  margin-bottom: 8px;
}


/*styling line divider in experience section*/
.experience-divider {
  border: none;              
  border-top: 2px solid #000000; 
  margin: 40px 0;           
  width: 100%;              
  max-width: 900px;         
  margin-left: auto;          
  margin-right: auto;       
}


/*styling cards in gallery for 3d models*/
.custom-card {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  border-radius: 1rem; 
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: none;  
}


/*styling images in carousel*/
.carousel-img {
  height: 400px;       
  object-fit: cover;   
}

.carousel-img {
  height: 450px;        
  object-fit: cover;    
  border-radius: 1rem;  
}


.img-thumbnail-fixed {
  width: 200px;     
  height: 250px;   
  object-fit: cover;
}



/*breakpoint for about and recent section*/
/*changes image size and text alignment for smaller screens*/
@media (max-width: 576px) {
  .about-section, .recent-posts {
    text-align: center;
    padding: 1rem;
  }
  .recent-posts img {
    width: 60px;
    height: 60px;
  }
}
